
.footer {
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 1rem;
 
}

.footer__subtitle {

    color: rgb(31, 30, 28);
}

.footer__others {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}
.footer__pokedex-img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}


.footer__container-pokedex {
    background-color: rgb(222, 228, 149);
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0;
    padding: 0.5rem;
}


.footer__container-pokedex:hover {
    background-color: rgb(240, 218, 21);
    transform: rotate(0.9turn);

}

