
.header {
    align-items: center;
    background-color: red;
    display: flex;
    justify-content: center;
}
.header__logo {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    margin-left: 1rem;
    width: 2rem;
}
.header__contents {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    gap: 0.3rem;
    padding: 0.5rem 0;
}



