.main {
    align-items: center;
    background-color: rgb(119, 118, 117);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: 420px;
    padding: 1rem;
}


.main__pokedex-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.main__title-pokedex:hover {
    transform: scale(1.7);
}

.main__title-pokedex {
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: center;
    max-width: 20rem;
    padding: 0.5rem 2.5rem;
    width: 73%;
}
.main__pokedex-title:first-letter {
    text-transform: uppercase;
}



.main__pokedex-image {
    margin-bottom: -1rem;
    margin-top: 1rem;
    width: 18rem;
    z-index: 1;


}
.main__pokedex {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    width: 80%;
}

.main__logo {
    height: 2.9rem;
    width: 5rem;
}
.main__inf-pokedex-subtitle {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;

}


.main__container-title {
    display: flex;
    justify-content: space-around;
}

.main__inf-pokedex {
    background-color: white;
    border-radius: 0.80rem;
    color: gray;
    display: grid;
    font-family: 'Source Sans Pro', sans-serif;
    grid-template-columns: 1;
    line-height: 0.5rem;
    margin-bottom: 1rem;
    max-width: 20rem;
    min-height: 400px;
    padding: 0.5rem;
    width: 80%;
}




@media (min-width:700px) {

    .container {
        margin: 1rem auto;
        max-width: 80rem;
        width: 95%;

    }
    .header {
        border-radius: 0.5rem 0.5rem 0 0;
        justify-content: start;
    }
    body {
        background-color: rgb(212, 212, 212);
    }



    .main__title-pokedex{

        margin-bottom: 3.5rem;
        width: 65%;
    }

    .footer__others {
        grid-template-columns: repeat(4, 1fr);
        margin-left: 2rem;

    }
    .footer {
        border-radius: 0 0 0.5rem 0.5rem;
        flex-direction: row;
        justify-content: space-around;
    }


    .main {
        align-items: baseline;
        flex-direction: row;
        justify-content: space-around;
      
    }

    .main__pokedex {
        height: 300px;
        justify-content: space-around;
    }

    
    .footer__subtitle {
        margin-left: 2rem;
    }


    .main__inf-pokedex {
        grid-template-columns: repeat(2, 1fr);
        height: 20rem;
        line-height: 1rem;
        text-align: center;
        width: 35%;

    }
    .main__pokedex img:nth-child(2) {
        margin-top: -2rem;
        max-height: 25rem;
        max-width: 25rem;
        width: 27rem;
    }


    .main__inf-pokedex-subtitle {
        margin-top: -2rem;
    }
    .main__container-title {

        flex-direction: column;
    }

}



